@charset "utf-8";
@use '../foundation/mixins';
// @include mixins.mq(sp)

/*--------------------
  common
--------------------*/
.lower-pay {
  .pageHeader{
    &::before{
      background-image: url(../img/pay/pageheader.jpg);
      opacity: 0.58;
    }
  }
  .requirementBtn{
    margin-top: 100px;
    margin-bottom: 120px;
    @include mixins.mq(sp) {
      margin-top: 48px;
      margin-bottom: 56px;
      padding: 0 20px;
    }
  }
}

/*--------------------
  intro
--------------------*/
.pay__intro {
  .lead {

  }
  .table {
    th {
      .num {

      }
    }
    td {
      .table__txt {

      }
      .monthlyIncome {
        &__num {

        }
      }
      .daylyIncome {
        &__num {

        }
      }
      .table__annotation {

      }
    }
  }
  .desc {

  }
}

/*--------------------
  point
--------------------*/
.pay__point {
  .pay__point__content {
    // 共通
    .head {
      .num {
        small {

        }
        b {

        }
      }
      .ttl {

      }
    }
    body {
      .desc {

      }
    }
    .table {
      &01 {
        th {
          small {

          }
        }
        td {
          .num {

          }
        }
      }
      &02 {
        th {

        }
        td {

        }
      }
    }

    &01 {

    }
    &02 {

    }
    &03 {
      .pay__point__welfareList {
        &__item {
          .term {

          }
          .desc {
            .num {

            }
            .small {

            }
          }
        }
      }
    }
    &04 {

    }
  }
}

/*--------------------
  illust-box
--------------------*/
.pay__illust-box {
  .wrap {
    .illust {

    }
    .desc {

    }
  }
}
